.avatar {
    border-radius: 50%;
}
.cardContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    text-align: left;
}
.card {
    border: 2px solid #9f9c9ccc;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 10px;
}